:root {
  --background-color: #dad7cd;
  --text-color2: #f0f8ff;
  --text-color1: black;
  --headr-bar-color: #3a5a45;
  --hover-color: #578164;
  --hover-shadow-color: #57816473;
}
.dark-mod {
  --background-color: #504e49;
  --text-color1: #e0e7e0;
  --text-color2: #c0cfb6;
  --headr-bar-color: #0f1414;
  --hover-color: #000000;
  --hover-shadow-color: #6e9b7a40;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.nav-bar {
  background-color: var(--headr-bar-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
    width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  margin-top: 15px;
  background-image: linear-gradient(to right , #578164 ,#3a5a45,#334b3c );
  justify-content: space-between;
  gap: 8vw;
  padding: 0 2rem;
}
.logo {
  padding: 1.1rem;
  font-size: 32px;
  font-weight: bolder;
  color: var(--text-color2);
  justify-items: flex-start;
  flex: 1;
  text-align: canter;

}
.nav-list {
  color: var(--text-color2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  justify-items: center;
}
.home{
  color: var(--text-color2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  justify-items: center;
  margin-right: 8vw;
}
.list-item {
  padding: 2rem;
  font-size: large;
  font-weight: bold;
  transition: all 0.5s ease;
}
.list-item:hover {
  text-decoration: underline;
  text-underline-offset: 20px;
  color: var(--text-color1);
}
.icons {
    display: flex;
    align-items: center;
    gap: 3vw;
    flex: 1;
    margin-right: 4vw;
}
.icons svg{
   fill: #edf2f4;
    transition: all 0.5s ;

}
.icons svg:hover{
    transition: 0.5s;
    fill: #000000; 
}
.icons a {
    text-decoration: none;

}
/*theme button*/
#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border: 50%;
  border-radius: 100px;
  background-color: var(--hover-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 20px;
  flex-shrink: 0;
}
#theme-switch img {
  fill: var(--background-color);
}
#theme-switch img:last-child {
  display: none;
}
.dark-mod #theme-switch img:first-child {
  display: none;
}
.dark-mod #theme-switch img:last-child {
  display: block;
}
